{{ define "main" }}
<main class="portfolio-main">
    {{range where (where .Site.Pages "Kind" "page") "Section" "portfolio"}}
    <article class="portfolio-item border-{{.Params.language}}">
        <h2 class="portfolio-title">{{.Title}}</h2>
        <div class="portfolio-description">{{.Description}}</div>
        <div class="portfolio-buttons">
            <a class="portfolio-source" href="{{.Params.source}}">Source</a>
            {{if .Params.link}}
            <a class="portfolio-link" href="{{.Params.link}}">Link</a>
            {{end}}
        </div>
    </article>
    {{end}}
</main>
{{ end }}